.register-form{
    border: 1px solid black;
    padding: 15px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.google-btn{
    padding: 6px 58px;
    border-radius: 15px;
    background-color: aqua;
}
.register-google{
    text-align: center;
    margin: 10px;
}